    
body {
    background-color: cadetblue;
    font-family: monospace;
    text-align:justify;
    font-size: 150%;
    color: black;
}

#watermark {
    border: transparent; 
    background-image: url(rayosx.jpg);
    background-position: center;
    opacity: 0.2;
} 

#div1 {width:150px;height:150px;padding:10px;border:1px solid white;}




p {
    background-color: cadetblue;
    opacity: 0.8;
}

h1 {
    color: rebeccapurple;
    text-align: center;
    font-family: monospace;
    font-size: 200%;
    background-color: transparent;
    
   
}

h4 {
    color: black;
    text-align: justify;
    font-family: monospace;
    font-size: 80%;
    background-color: transparent;
    
   
}



#consulta {
    background-image: url(medicina.jpg);
    
}

#rayosx {
    background-image: url(rayosx.jpg);
}

#antibiotico {
    background-image: url(antibiotico.jpg);
}



footer {
    font-size: 70%;
    background-color: cadetblue;
    opacity: 0.8;
    text-align: center;
}


.boxWrap{
    width: 10000px;
    
}
.box {
    text-align: left;
    float: left;
    width: 100px;
    height: 100px;
    padding: 100px;
    margin: 50px;
}
