html {
    font-family: "sans", monospace;
}

div.banner{
	width: 100%;
	height: 150px;
	background-color: darksalmon;
	color: lightblue;
	text-align: right;
}

div.banner h1{
	display: inline-block;
	vertical-align: middle;
	margin-top: 70px;
	font-size: 3em;
	background-color: lightcoral;
}

ul.cuadros{
    width: 100%;
    background-color: paleturquoise;
}

ul.cuadros li{
    width: 43%;
    display: inline-block;
    background-color: #97B1F7;
}

li.cuadro2{
    height: 670px;
	vertical-align: top;
	background-color: #97B1F7;
}

ul.preguntas li{
	display: block;
}