body {
    background-color: darkseagreen;
    font-family: monospace;
    text-align:justify;
    font-size: 150%;
    color: #070707;
}

p {
    border: outset;
    background-color: darkseagreen;
    opacity: 0.8;
    background-color: coral;
    display: inline;
}

h1 {
    color: white;
    font-family: monospace;
    font-size: 200%;
    background-color: transparent;
}

header{
    background-color:darkseagreen;
    font-family: monospace;
    font-size: 100%;
    color: white;
    font-weight: bold;
    display:flex;
}

p.normal {
    color: white;
}


#apellido, #nombre, #cumpleanos, #alergia, #mail{
    border: outset;
}

input{
    border: outset;
}

footer {
 text-align: center;  
    font-size: 80%;
}
