    
body {
    background-color: cadetblue;
    font-family: monospace;
    text-align:justify;
    font-size: 150%;
    color: black;
}

p {
    background-color: cadetblue;
    opacity: 0.8;
}

h1 {
    color: rebeccapurple;
    text-align: center;
    font-family: monospace;
    font-size: 200%;
    background-color: transparent;
    
   
}

h4 {
    color: black;
    text-align: justify;
    font-family: monospace;
    font-size: 80%;
    background-color: transparent;
    
   
}


footer {
    font-size: 70%;
    background-color: cadetblue;
    opacity: 0.8;
    text-align: center;
}


