
body {
    background-color: lightsalmon;
    font-family: monospace;
    text-align:justify;
    font-size: 150%;
    color: seagreen;
}

h1 {
    color: steelblue;
    text-align: center;
    font-family: monospace;
    font-size: 200%;
}

header{
    font-family: monospace;
    text-align:justify;
    font-size: 100%;
    color: steelblue;
    font-weight: bold;
}

#psw {
    background-color: #e9f2f4;
    font-family: monospace;
    text-align:center;
    font-size: 100%;
    color: #B3B5B6;
    box
}

#val {
    background-color: #e9f2f4;
    font-family: monospace;
    text-align:center;
    font-size: 100%;
    color: #B3B5B6;
    box
}
